/**
* Hi, I’m Denis!
* I’m currently pursuing a degree in Computer Engineering
* at Jönköping University.
* 
* How about we roll up our sleeves and start sprucing up 
* this drag page a bit?
*/

* {
  transition: all 1s;
}

/**
* Just for future effect =)..
* Now lets add the foundation to our layout.
* Also change the background colour while we are at it.
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1F2833;
}

/**
* Oh..
* Better change the colour of our text so we can see what we are writing.
*/

pre, a {
  color: white;
}

/**
* Much better sorry about that..
* While we are at it might as well change the colour of our code 
* so we see what we are doing.
*/

.selector { 
  color: #E69F0F; 
}
.selector .key { 
  color: #64D5EA; 
}
.key { 
  color: #64D5EA; 
}
.value { 
  color: #BE84F2; 
}
.value.px { 
  color: #1b9930; 
}

/**
* Much better! Let's organize this a bit and move the code
* to a window.
*/

.main-page-parent {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  gap: 1vh;
}

/**
* We are going to jump around a bit until we 
* find the sweet spot. So sorry in advance...
* Don't get motion sick on me.
*/

.main-page-parent {
  justify-content: center;
}

/**
* and ...
*/

.main-page-child {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: start;
  gap: 1vh;
}

/**
* almost done... promise.
* Let's get this in it's own box.
*/

.scroll-box {
  padding-left: 2%;
  padding-right: 20%;
  padding-top: 2%;
  background-color: #0B0C10;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}

/**
* Much better right?..
* Now to just change the font and size.
* Might as well change the comment colour also.
*/

.scroll-box {
  font-family: monospace;
  font-size: clamp(0.5rem, 0.9rem, 1.8rem);
}
.comment { 
  color: #857F6B; font-style: italic; 
}

/**
* There! Now we have it more organized.
* Hmm let's make the design a bit nicer, let's add some shadow, a nice border...
* some colour changes maybe...
*/

.scroll-box {
  border: 1px solid #45A29E;
  scrollbar-color: #45A29E #1F2833;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
}

/**
* So much cooler, right?.
*/

.sub-title {
  font-size: clamp(0.5rem, 1.3rem, 2rem);
  font-weight: bold;
  text-decoration: underline;
}

.output-box {
  white-space: pre-wrap;
  font-family: monospace;
}

.bottom-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.title {
  font-size: clamp(1rem, 1.8rem, 3rem);
  font-weight: bold;
}