/**
* Lets make them a bit bigger!
*/

.title {
  font-size: clamp(1rem, 2rem, 4rem);
  font-weight: bold;
}

.sub-title {
    font-size: clamp(0.8rem, 1.4rem, 3rem);
    font-weight: bold;
    text-decoration: underline;
  }

.content {
  font-size: clamp(0.6rem, 1.2rem, 2rem);
}